
Numpy&Pandas/~$Movies_merged.xlsx

# Ignore virtual environment folder
venv/
.venv/

# Ignore system files
*.DS_Store
*.pyc
__pycache__/

# Ignore hidden files
.idea/
.vscode/

# Ignore log files
*.log

.html

Competition/1st DIC/return_rate_factors_plotly (1).html
*.html
*.png
